# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
admodel.cov
admodel.dep
admodel.hes
fmin.log
MAT0420.b01
MAT0420.b02
MAT0420.b03
MAT0420.b04
MAT0420.b05
MAT0420.b06
MAT0420.b07
MAT0420.bar
MAT0420.cor
MAT0420.cpp
MAT0420.eva
MAT0420.htp
MAT0420.log
MAT0420.obj
MAT0420.p01
MAT0420.p02
MAT0420.p03
MAT0420.p04
MAT0420.p05
MAT0420.p06
MAT0420.p07
MAT0420.r01
MAT0420.r02
MAT0420.r03
MAT0420.r04
MAT0420.r05
MAT0420.r06
MAT0420.r07
MAT0619.b01
MAT0619.b02
MAT0619.b03
MAT0619.b04
MAT0619.b05
MAT0619.b06
MAT0619.b07
MAT0619.bar
MAT0619.cor
MAT0619.cpp
MAT0619.eva
MAT0619.htp
MAT0619.log
MAT0619.obj
MAT0619.p01
MAT0619.p02
MAT0619.p03
MAT0619.p04
MAT0619.p05
MAT0619.p06
MAT0619.p07
MAT0619.r01
MAT0619.r02
MAT0619.r03
MAT0619.r04
MAT0619.r05
MAT0619.r06
MAT0619.r07
MAT0919.b01
MAT0919.b02
MAT0919.b03
MAT0919.b04
MAT0919.b05
MAT0919.b06
MAT0919.b07
MAT0919.bar
MAT0919.cor
MAT0919.cpp
MAT0919.eva
MAT0919.htp
MAT0919.log
MAT0919.obj
MAT0919.p01
MAT0919.p02
MAT0919.p03
MAT0919.p04
MAT0919.p05
MAT0919.p06
MAT0919.p07
MAT0919.r01
MAT0919.r02
MAT0919.r03
MAT0919.r04
MAT0919.r05
MAT0919.r06
MAT0919.r07
MAT0920.b01
MAT0920.b02
MAT0920.b03
MAT0920.b04
MAT0920.b05
MAT0920.b06
MAT0920.b07
MAT0920.bar
MAT0920.cor
MAT0920.cpp
MAT0920.eva
MAT0920.htp
MAT0920.log
MAT0920.obj
MAT0920.p01
MAT0920.p02
MAT0920.p03
MAT0920.p04
MAT0920.p05
MAT0920.p06
MAT0920.p07
MAT0920.r01
MAT0920.r02
MAT0920.r03
MAT0920.r04
MAT0920.r05
MAT0920.r06
MAT0920.r07
MTT0520.b01
MTT0520.b02
MTT0520.b03
MTT0520.b04
MTT0520.b05
MTT0520.bar
MTT0520.cor
MTT0520.cpp
MTT0520.eva
MTT0520.htp
MTT0520.log
MTT0520.obj
MTT0520.p01
MTT0520.p02
MTT0520.p03
MTT0520.p04
MTT0520.p05
MTT0520.r01
MTT0520.r02
MTT0520.r03
MTT0520.r04
MTT0520.r05
MTT0819.b01
MTT0819.b02
MTT0819.b03
MTT0819.b04
MTT0819.b05
MTT0819.bar
MTT0819.cor
MTT0819.cpp
MTT0819.eva
MTT0819.htp
MTT0819.log
MTT0819.obj
MTT0819.p01
MTT0819.p02
MTT0819.p03
MTT0819.p04
MTT0819.p05
MTT0819.r01
MTT0819.r02
MTT0819.r03
MTT0819.r04
MTT0819.r05
MTT0920.b01
MTT0920.b02
MTT0920.b03
MTT0920.b04
MTT0920.b05
MTT0920.bar
MTT0920.cor
MTT0920.cpp
MTT0920.eva
MTT0920.htp
MTT0920.log
MTT0920.obj
MTT0920.p01
MTT0920.p02
MTT0920.p03
MTT0920.p04
MTT0920.p05
MTT0920.r01
MTT0920.r02
MTT0920.r03
MTT0920.r04
MTT0920.r05
INFORME_FINAL.Rproj
Salidas_InformeFinal_2021.pdf
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.log
.DS_Store
ANEXO_I_CPUE.log
ANEXO_II_PMCCAC.pdf
ANEXO_II_PMCCAC.log
Informesardina_junio2021.Rmd
README.md
FigyTab_ANEXO_II_PMCCAC.pdf
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
SARAULAGOS_0621.Rproj
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
Figuras/Fig8-1.pdf
Figuras/Fig7-1.pdf
Figuras/Fig3-1.pdf
Figuras/Fig25-1.pdf
Figuras/Fig24-1.pdf
Figuras/Fig23-1.pdf
Figuras/Fig22-1.pdf
Figuras/Fig21-1.pdf
Figuras/Fig13-1.pdf
Figuras/Fig12-1.pdf
Figuras/Fig11-1.pdf
Figuras/Fig10-1.pdf
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
Figuras/Fig8-1.pdf
Figuras/Fig7-1.pdf
Figuras/Fig3-1.pdf
Figuras/Fig25-1.pdf
Figuras/Fig24-1.pdf
Figuras/Fig23-1.pdf
Figuras/Fig22-1.pdf
Figuras/Fig21-1.pdf
Figuras/Fig13-1.pdf
Figuras/Fig12-1.pdf
Figuras/Fig11-1.pdf
Figuras/Fig10-1.pdf
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
Figuras/Fig8-1.pdf
Figuras/Fig7-1.pdf
Figuras/Fig3-1.pdf
Figuras/Fig25-1.pdf
Figuras/Fig24-1.pdf
Figuras/Fig23-1.pdf
Figuras/Fig22-1.pdf
Figuras/Fig21-1.pdf
Figuras/Fig13-1.pdf
Figuras/Fig12-1.pdf
Figuras/Fig11-1.pdf
Figuras/Fig10-1.pdf
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
Figuras/Fig10-1.pdf
Figuras/Fig11-1.pdf
Figuras/Fig12-1.pdf
Figuras/Fig13-1.pdf
Figuras/Fig21-1.pdf
Figuras/Fig22-1.pdf
Figuras/Fig23-1.pdf
Figuras/Fig24-1.pdf
Figuras/Fig25-1.pdf
Figuras/Fig3-1.pdf
Figuras/Fig7-1.pdf
Figuras/Fig8-1.pdf
INFORMEFINAL_SARDAUSTRAL_LOSLAGOS.pdf
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
Figuras/Fig10-1.pdf
Figuras/Fig11-1.pdf
ANEXO_I_CPUEv2.log
ANEXO_I_CPUEv2.pdf
ANEXO_I_CPUEv2.Rmd
ANEXO_I_CPUEv2.tex
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
Figuras/Fig10-1.pdf
Figuras/Fig11-1.pdf
Figuras/Fig12-1.pdf
Figuras/Fig13-1.pdf
Figuras/Fig21-1.pdf
Figuras/Fig22-1.pdf
Figuras/Fig23-1.pdf
Figuras/Fig24-1.pdf
Figuras/Fig25-1.pdf
Figuras/Fig3-1.pdf
Figuras/Fig7-1.pdf
Figuras/Fig8-1.pdf
Figuras/Fig10-1.pdf
Figuras/Fig11-1.pdf
Figuras/Fig12-1.pdf
Figuras/Fig13-1.pdf
Figuras/Fig21-1.pdf
Figuras/Fig22-1.pdf
Figuras/Fig23-1.pdf
Figuras/Fig24-1.pdf
Figuras/Fig25-1.pdf
Figuras/Fig3-1.pdf
Figuras/Fig7-1.pdf
Figuras/Fig8-1.pdf
Figuras/Fig10-1.pdf
Biblio.Rmd
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
*.csv
CPUE_Los_Lagos_MaC/BIT_2005_2020_ SEG_COMERCIAL_VERIFICACION.csv
CPUE_Los_Lagos_MaC/estandarizacion_segun_informe/con_info_elson/estandarizacion_2021.pdf
CPUE_Los_Lagos_MaC/estandarizacion_segun_informe/MaC_2021/CPUE_MODELOS.xlsx
CPUE_Los_Lagos_MaC/estandarizacion_segun_informe/MaC_2021/CPUE_MODELOS.xlsx
CPUE_Los_Lagos_MaC/estandarizacion_segun_informe/MaC_2021/CPUE_MODELOS.xlsx
Figuras/Fig10-1.pdf
Figuras/Fig11-1.pdf
